
.navbar-container{
  background-image: url('slider-one.jpg');
  opacity: 0.9;
  width: 100%;
  min-height: 92px;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-link {
    width: fit-content;
    display: flex;
    align-items: center;

    h1 {
      font-size: 3rem;
      color: white;
      font-family: 'Satisfy', cursive;
    }
    img{
      height: 100px;
      width: 100px;
    }
  }

  .nav-right-container {
    height: fit-content;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i{
      font-size: 32px;
      color: white;
      margin-left: 15px;
    }
  }

}
